<div class="flex justify-center items-center gap-x-4">
  <a 
    href="/technology/launch-vehicle"
    class="text-white p-3 rounded-full border border-white"
  >
    1
  </a>
  <a 
    href="/technology/spaceport"
    class="text-white p-3 rounded-full border border-white"
  >
    2
  </a>
  <a 
    href="/technology/space-capsule"
    class="text-white p-3 rounded-full border border-white"
  >
    3
  </a>
</div>