---
import "@fontsource/bellefair"
---

<div class="flex justify-center items-center gap-x-4">
  <a 
    href="/technology/launch-vehicle"
    class="size-[40px] bg-white text-[#0b0d17]
    border rounded-full border-white
    flex justify-center items-center"
  >
    1
  </a>
  <a 
    href="/technology/spaceport"
    class="size-[40px] text-white
    border border-[#56565d] rounded-full
    flex justify-center items-center"
  >
    2
  </a>
  <a 
    href="/technology/space-capsule"
    class="size-[40px] text-white 
    border border-[#56565d] rounded-full
    flex justify-center items-center"
  >
    3
  </a>
</div>

<style>
  a {
    font-family: 'Bellefair', serif;
  }
</style>