---
import "@fontsource/bellefair"
import "@fontsource/barlow-condensed/400.css"
import "@fontsource/barlow/400.css"
---

<section class="flex flex-col justify-center items-center mt-10">
  <span 
    class="barlow-condensed uppercase text-primary
    text-2xl tracking-widest text-center"
  >
    So, you want to travel to
  </span>
  <h1 class="bellefair text-white text-8xl mt-8 mb-10">SPACE</h1>
  <p 
    class="barlow text-primary text-lg text-balance text-center leading-8 
    tracking-widest"
  >
    Let&apos;s face it; if you want to go to space, you might as well genuinely
    go to outer space and not hover kind of on the edge of it. Well sit back, and 
    relax because we&apos;ll give you a truly out of this world experience!
  </p>
  <div class="w-[150px] h-[150px] rounded-full bg-white my-32">
    <span 
      class="bellefair flex items-center justify-center h-full w-full
      text-xl tracking-widest text-[#0B0D17]"
    >
      EXPLORE
    </span>
  </div>
</section>

<style>
  .barlow-condensed {
    font-family: 'Barlow Condensed', sans-serif;
  }

  .bellefair {
    font-family: 'Bellefair', serif;
  }

  .barlow {
    font-family: 'Barlow', sans-serif;
  }
</style>